*{
    margin:0;
    padding:0;
}
.botones{

    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;

}
button{
    background:#ff1493;
    color:white;
    border:2px solid white;
    border-radius:50px;
    padding:15px 35px;
    font-size:20px;
    font-family:'Georgia', serif;
    box-shadow:0 0 20px #ff1493;
    transition:all .4s;
}

button:hover{
    background:white;
    color:#ff1493;
    box-shadow:0 0 30px #ff1493;
}
button:active{
    transform:scale(0.95);
}

body{
    background: linear-gradient(#ffe6ef, #fff0f5);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    padding:20px;
    overflow-x:hidden;

}

.contenedor{
    width:90%;
    max-width:500px;
    margin:0 auto;
    padding:15px;
    background:white;
    border-radius:15px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);

    position:relative;
}
/* CONTENIDO DE ABAJO */
.contenido{
    position:relative;
    width:90%;
    max-width:500px;
    margin:auto;
}
.foto{
    width:100%;
    display:block;
    border-radius:15px;
}


/*mensaje de amor*/
.mensaje-amor{
    position:relative;

    margin-top:25px;

    color:#ffffff;

    font-size:clamp(30px,6vw,40px);

    font-weight:bold;

    text-align:center;

    text-shadow:
    0 0 10px #a81cb3,
    0 0 20px #b002a1;

    animation: latido 2s infinite;
}



/*mensaje*/
.mensaje{
    position:absolute;

    bottom:20px;
    left:50%;

    transform:translateX(-50%);

    width:85%;

    color:white;

    font-size:clamp(18px,4vw,22px);

    font-weight:bold;

    text-align:center;


    text-shadow:
    0 0 10px #ff1493,
    0 0 20px #ff1493;
    animation: aparecerSuave 6s ease;


}

@keyframes aparecerSuave{

    from{
        opacity:0;
        transform:translateX(-50%) translateY(20px);
    }

    to{
        opacity:1;
        transform:translateX(-50%) translateY(0);
    }

}

@keyframes latido{

    0%{
        transform:scale(1);
    }

    25%{
        transform:scale(1.06);
    }

    50%{
        transform:scale(1.12);
    }

    75%{
        transform:scale(1.06);
    }

    100%{
        transform:scale(1);
    }

}








h2{
    margin-bottom:15px;
}

p{
    margin-bottom:20px;
    line-height:1.7;
}

video{
    width:100%;

    max-width:700px;

    border-radius:10px;

    display:block;

    margin:20px auto;

}
/* LOS CORAZONES*/
.corazones{
    position:fixed;
    inset:0;
    overflow:hidden;
    pointer-events:none;
}

.corazones span{
    position:absolute;
    bottom:-100px;
    animation:lluvia linear infinite;
}

/* Posiciones aleatorias */
.corazones span:nth-child(1){left:8%;  font-size:20px; animation:lluvia 6s infinite; animation-delay:0s;}
.corazones span:nth-child(2){left:75%; font-size:35px; animation:lluvia 8s infinite; animation-delay:2s;}
.corazones span:nth-child(3){left:40%; font-size:25px; animation:lluvia 7s infinite; animation-delay:1s;}
.corazones span:nth-child(4){left:90%; font-size:30px; animation:lluvia 9s infinite; animation-delay:3s;}
.corazones span:nth-child(5){left:25%; font-size:18px; animation:lluvia 5s infinite; animation-delay:2s;}
.corazones span:nth-child(6){left:60%; font-size:40px; animation:lluvia 10s infinite; animation-delay:1s;}
.corazones span:nth-child(7){left:15%; font-size:28px; animation:lluvia 7s infinite; animation-delay:4s;}
.corazones span:nth-child(8){left:50%; font-size:22px; animation:lluvia 6s infinite; animation-delay:2s;}
.corazones span:nth-child(9){left:82%; font-size:32px; animation:lluvia 8s infinite; animation-delay:5s;}
.corazones span:nth-child(10){left:35%; font-size:26px; animation:lluvia 7s infinite; animation-delay:3s;}

@keyframes lluvia{
    0%{
        transform:translateY(0);
        opacity:0;
    }

    10%{
        opacity:1;
    }

    100%{
        transform:translateY(-120vh);
        opacity:0;
    }
}
/*modificamos h3*/
.contenido h3{
    position:relative;

    margin-top:50px;

    color:#f6f6f6;

    font-size:40px;

    font-weight:bold;

    text-align:center;

    text-shadow:
    0 0 10px #a81cb3,
    0 0 20px #b002a1;

    animation:
    aparecerFecha 1.5s ease forwards,
    flotarFecha 3s ease-in-out infinite 1.5s;
}
@keyframes aparecerFecha{

    0%{
        opacity:0;
        transform:translateY(20px);
    }

    100%{
        opacity:1;
        transform:translateY(0);
    }

}
@keyframes flotarFecha{

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-6px);
    }

    100%{
        transform:translateY(0);
    }

}
/*cuadrito*/
.cuadrito{
    width:180px;
    height:180px;
    background:white;
    border-radius:25px;
    margin:0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    cursor:pointer;
    box-shadow:0 0 20px #ff1493;
    transition:.4s;
}
.cuadrito img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.cuadrito:hover{
    transform:scale(1.1);
    box-shadow:0 0 35px #ff1493;
}
/* ============================= */
/* ADAPTACION PARA CELULARES */
/* ANDROID + IOS */
/* ============================= */

@media screen and (max-width:600px){

    body{
        padding:10px;
        overflow-x:hidden;
    }


    .contenedor{
        width:95%;
        padding:8px;
        margin:auto;
    }


    .foto{
        width:100%;
        border-radius:15px;
    }



    /* texto dentro de la foto */
    .mensaje{
        bottom:25px;

    }


    .mensaje-amor{
        position:relative;

        top:auto;
    }



    /* contenido de abajo */

    .contenido{
        width:95%;
        margin:auto;
    }


    .contenido h3{


        margin-top:40px;

        font-size:32px;

        text-align:center;


    }



    h2{

        font-size:28px;
        margin-top:30px;

    }


    p{

        font-size:17px;
        line-height:1.6;
        padding:0 15px;

    }



    /* botones */

    button{

        width:85%;
        font-size:18px;
        padding:15px;
        margin:10px auto;

    }



    video{

        width:95%;

        margin:20px auto;

        display:block;

    }



    /* corazones */

    .corazones span{

        transform:scale(.6);

    }



    /* cuadro recuerdos */

    .cuadrito{

        width:160px;
        height:160px;

        margin:80px auto 30px;

    }


}